p {
    font-size: 32px;
}
footer{
    background-color: azure;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
}
body{
    background-color: peru;
}
#rdss{
    background-color: rgba(0, 0, 0, 0.1);
    color: springgreen;
}